.line-timer {
    position: absolute;
    left: 35px;
    width: 90%;
    height: 5px;
    border-radius: 20px;
    background: rgb(243, 0, 0);
}

.circle {
    position: absolute;
    top: -2px;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    background-color: #fff;
}